@{
    ViewData["Title"] = "Home Page";
}
  
<!-- Full Page Intro -->
<div class="">
    <div class="view w-auto p-3" style="background-image: url('https://images.pexels.com/photos/590041/pexels-photo-590041.jpeg?cs=srgb&dl=background-board-chart-data-590041.jpg&fm=jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="text-center">
                    <h1 class="display-3">Welcome to</h1>
                    <h2 class="display-2">ScanR</h2>
                </div>
                <div class="p-3 mb-2 bg-light">
                    <hr class="hr-light">
                    <h6 class="mb-4">Be in sync with your finances and have it all in one place.</h6>
                    <a href="/dashboard" class="btn btn-white btn-link font-weight-bold">Signup / Login</a>
                    <a class="btn btn-outline-light text-primary btn-sm">Learn more at Coding Dojo: Bellevue location</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-4 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                </div>
                <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
        </header>
        <!-- Main navigation -->
        <!--Main Layout-->
        <main>
        <div class="container">
            <!--Grid row-->
            <div class="row py-5">
            <!--Grid column-->
            </div>
        </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    </main>
    <!--Main Layout-->
    <div class="text-center">
        <div class="col-10 col-md-12 text-center">
            <p class="text-center">Stemming brilliant minds from Coding Dojo, we were able to create an app that will organize and compartmentalize your spending. With that data, the app is able to delever itemization, cost information, and merchant location from your receipts*.</p>
            <small>* Sometimes.</small>
        </div>
    </div>
</div>
